{% extends 'parts/base.html' %}

{% block title %}
    Вход в систему
{% endblock %}

{% block content %}
<div class="auth-card">
    <h2>Вход в систему</h2>

    <form action="/login/" method="POST">
        {% csrf_token %}
        <!-- Поля ввода сами возьмут стили из base.html -->
        <input type="text" name="username" placeholder="Имя пользователя" required>
        <input type="password" name="password" placeholder="Пароль" required>

        <button type="submit">Войти</button>
    </form>

    <div style="margin-top: 20px; text-align: center;">
        <a href="/register/" class="footer-link" style="color: var(--text-muted); font-size: 14px; text-decoration: none;">
            Нет аккаунта? <span style="color: var(--accent); font-weight: 600;">Регистрация</span>
        </a>
    </div>
</div>
{% endblock %}
