{% extends 'parts/base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="auth-card">
    <h2>Вход в систему</h2>

    <form action="/login/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="username" placeholder="Имя пользователя" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Пароль" required>
        </div>
        <button type="submit">Войти</button>
    </form>

    <a href="/register/" class="footer-link">Нет аккаунта? Регистрация</a>
</div>
{% endblock %}